<li><%= link_to user.username, user_path(user) %> 
  <% if current_user && current_user.admin? && !current_user?(user) %>
    | <%= link_to "edit", edit_user_path(user) %>
       | <%= link_to "delete", user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete #{user.username}?" } %><% end %></li>