<li><%= link_to player.name, player_path(player) %>
  <% if current_user?(player.user)%>   
  | <%= link_to "edit", edit_player_path(player) %>
       | <%= link_to "delete", player_path(player), method: :delete, data: { confirm: "Are you sure you want to delete #{player.name}?" } %><% end %></li>